@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background-color: #CCBEB4;
}

.infinite_logo{
    justify-content: center;
    align-items: center;
    margin-left: 450;
}

.art_motto{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 50;
}

.nav-icon {
    margin: 1em;
    width: 40px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }